*{
    color: #0f1114;
    color: #d1d8e0;
    color: #2f3640;
    color: #060607;
    color: #111f28;
    color: #484e52;
    color: #afb9c5;
    color: #e3cdb3;
    color: #171820;
    color: #fdc029;
    color: #df861d;
    color: #aa3d01;
    color: #bcb6ae;
    color: #f5f6fa;
}
