@media only screen and (min-width:801px) and (max-width:1200px){
    h1{font-size: 100%;}
    h2{font-size: 100%;}
    h3{font-size: 100%;}
    header{max-width: 100%; height: auto;}
    header#home a{font-size: 50%;}
    .heading-main-box{top: 10%; left: 15%;}
    .content-main-box{top: 25%;}
    .col1{width: 10%;}
    .col2{width: 50%;}
    .col3{width: 30%;}
    a{font-size: 50%;}
}

@media only screen and (min-width:401px) and (max-width:800px){
    h1{font-size: 70%;}
    h2{font-size: 70%;}
    h3{font-size: 70%;}
    header{max-width: 100%; height: auto;}
    header#home a{font-size: 50%;}
    .heading-main-box{top: 10%; left: 15%;}
    .content-main-box{top: 25%;}
    .col1{width: 10%;}
    .col2{width: 50%;}
    .col3{width: 30%;}
    a{font-size: 50%;}
}
