<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{% static 'css/roboto.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css'%}">
    <link rel="stylesheet" href="{% static 'css/vendors/grid/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/queries.css' %}">
    <title>Khanh Nguyen Duy</title>
</head>

<body>
    
    <header id="home">
        <nav>
            <a href="#"><img class="logo" src="img/logo.png" alt=""></a>
            <ul class="main-nav">
                <li><a href="documents"><i class="fa fa-book-open" ></i> Tài liệu</a></li>
                <li ><a href="file_manager"> <i class="fa fa-cloud"></i> Cloud</a></li>
                {% if authenticated %} <li><a href="logout">Logout</a></li>
                {% else %} <li><a href="login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="heading-main-box">
            <h1>Hola! I'm Khanh Nguyen Duy</h1>
            <h2>this is my website</h2>
            <div class="row">
                <div class="icons">
                    <a href="https://www.instagram.com/ndkhanh.1308/" class="icon icon--instagram">
                        <i class="ri-instagram-line"></i>
                    </a>
                    <a href="https://www.facebook.com/khanh.nguyenduy.1485/" class="icon icon--facebook">
                        <i class="ri-facebook-circle-line"></i>
                    </a>
                    <a href="https://github.com/KhanhNguyen1308" class="icon icon--github">
                        <i class="ri-github-line"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="content-main-box">
            <h3>Content</h3>
        </div>
        <!-- <div class="content-main-box">
            <div class="col1">
            </div>
            <div class="col2">
                <h3>Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.</h3>
            </div>
            <div class="col3">
                <img src="./img/NDK-export.gif" alt="" >
            </div>
            <div class="col4"></div>
        </div> -->
    </header>
    

    <!--===========================================SCRIPTS=======================================================-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
    crossorigin="anonymous"></script>
    <script src="vendors/js/jquery.waypoints.min.js"></script>
    <script src="js/scripts.js"></script>
    <script type="text/javascript" src="js/toolfuntion.js"></script>
    <script type="text/javascript" src="js/SnakeGame.js"></script>
    <!--===========================================SCRIPTS=======================================================-->
</body>

</html>
