<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{% static 'css/roboto.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css'%}" 
    <link rel="stylesheet" href="{% static 'css/vendors/grid/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/queries.css' %}">
    <link rel="stylesheet" href="{% static 'css/remixicon.css' %}">
    <title>Khanh Nguyen Duy</title>
</head>

<body>
    
    <header id="home">
        <nav>
            <a href="#"><img class="logo" src="img/logo.png" alt=""></a>
            <ul class="main-nav">
                <!-- unordered list -->
                <!-- list item -->
                <li><a href="documents"><i class="fa fa-book-open" style="color: #74C0FC;" ></i> Tài liệu</a></li>
                <li ><a href="file_manager"> <i class="fa fa-cloud" style="color: #74C0FC;" ></i> Cloud</a></li>
                {% if authenticated %}
                    <li><a href="logout">Logout</a></li>
                {% else %}
                    <li><a href="login">Login</a></li>
                {% endif %}
                <!-- <li><a href="#My Games">My Games</a></li> -->
            </ul>
        </nav>
        <div class="heading-main-box">
            <h1>Hola! I'm Khanh Nguyen Duy</h1>
            <h2>this is my website</h2>
            <div class="row">
                <div class="icons">
                    <a href="https://www.instagram.com/ndkhanh.1308/" class="icon icon--instagram">
                        <i class="ri-instagram-line"></i>
                    </a>
                    <a href="https://www.facebook.com/khanh.nguyenduy.1485/" class="icon icon--facebook">
                        <i class="ri-facebook-circle-line"></i>
                    </a>
                    <a href="https://github.com/KhanhNguyen1308" class="icon icon--github">
                        <i class="ri-github-line"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="content-main-box">
            <h3>Content</h3>
        </div>
        <!-- <div class="content-main-box">
            <div class="col1">
            </div>
            <div class="col2">
                <h3>Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.
                    Almost before we knew it, we had left the ground.</h3>
            </div>
            <div class="col3">
                <img src="./img/NDK-export.gif" alt="" >
            </div>
            <div class="col4"></div>
        </div> -->
    </header>
    
    <!-- -------------------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------Tools Section--------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------------------------- -->
    <!-- <section class="Tool-Section" id="My Tools">
        <h2>My Tools</h2>
        <div class="tab">
            <button class="tablinks" onclick="openTool(event, 'RGB to Hex')">RGB to Hex</button>
            <button class="tablinks" onclick="openTool(event, 'Hex to RGB')">Hex to RGB</button>
            <button class="tablinks" onclick="openTool(event, 'Smart age calculator')">Smart age calculator</button>
        </div>
        
        <div id="RGB to Hex" class="tabcontent">

            <div class="row"></div><div class="row"></div><div class="row"></div><div class="row"></div>
            <div class="row">
                <div class="col2">
                    <p>R    </p>
                    <input type="number" onchange="this.value = Math.max(0, Math.min(255, parseInt(this.value)));" id="rValue">
                </div>
                <div class="col2">
                    <p>G    </p>
                    <input type="number" onchange="this.value = Math.max(0, Math.min(255, parseInt(this.value)));" id="gValue">
                </div>
                <div class="col2">
                    <p>B    </p>
                    <input type="number" onchange="this.value = Math.max(0, Math.min(255, parseInt(this.value)));" id="bValue">
                </div>
            </div>
            
            <div class="row"></div>
            <div class="row">
                <div class="col2"><button type="button" onclick="RGBtoHEX()">Convert</button></div>
                <div class="col2"># <input type="textbox" id="resultHexCode"></div>
            </div>
            <div class="row">
                <div class="col3"><p id="rgbToHexMess"></p></div>
            </div>
            <div class="row"></div><div class="row"></div><div class="row"></div>
            
            
        </div>
        <div id="Hex to RGB" class="tabcontent">
            
            <div class="row"></div><div class="row"></div><div class="row"></div><div class="row"></div>
            <div class="row">
                <div class="col2">
                    Enter Hex Value
                </div>
            </div>
            <div class="row">
                <div class="col1">Code</div>
                <div class="col2">
                    <input type="Text" maxlength="7" id="HEXCODE">
                </div>
            </div>
            <div class="row">
                <div class="col2"><button type="button" onclick="HEXtoRGB()">Convert</button></div>
                <div class="col2">
                    <div class="row">
                            <div class="icon" id="Red"></div>
                            <input type="textbox" id="resultR">
                    </div>
                </div>
                <div class="col2">
                    <div class="row">
                            <div class="icon" id="Green"></div>
                            <input type="textbox" id="resultG">
                    </div>
                </div>
                <div class="col2">
                    <div class="row">
                            <div class="icon" id="Blue">

                            </div><input type="textbox" id="resultB">
                    </div>
                </div>
            </div>
            <div class="row"><div class="col2"><p id="HexToRGBMess"></p></div></div>
            <div class="row"></div><div class="row"></div><div class="row"></div><div class="row"></div>
        </div>
        <div id="Smart age calculator" class="tabcontent">

            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col2">
                    Enter your Age
                </div>
            </div>
            <div class="row">
                <div class="col1">age</div>
                <div class="col2">
                    <input type="number" onchange="this.value = Math.max(0, Math.min(999, parseInt(this.value)));" maxlength="3" id="Age">
                </div>
            </div>
            <div class="row">
                <div class="col2"><button type="button" onclick="ageCal()">Calculate</button></div>
            </div>
            <div class="row">
                <p id="age_calculate"></p>
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
    </section> -->
    <!-- --------------------------------------------------------------------------------------------------------------- -->
    <!-- --------------------------------------Games-Section--------------------------------------------------------- -->
    <!-- --------------------------------------------------------------------------------------------------------------- -->
    <!-- <section class="Game-Section" id="My Games">
        <h2>My Games</h2>
        <div class="tab">
            <button class="tablinks" onclick="openGame(event, 'SnakeGame')" >Snake Game</button>
        </div>

        <div id="SnakeGame" class="tabcontent">
            <div class="row">
                <div class="col2"><button onclick="init()" id="StartGameBtn">Start Game</button></div>
                <div class="col2">Use WASD to play</div>
            </div>
            <div class="row">
                <canvas id="mySnakeGame" width="400" height="400"></canvas>
            </div>
        </div>
    </section> -->
    <!-- -------------------------------------------------------------------------------------------------------------- -->
    <!-- --------------------------------------Contact Section--------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------------------------- -->
   
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
    crossorigin="anonymous"></script>
    <script src="vendors/js/jquery.waypoints.min.js"></script>
    <script src="js/scripts.js"></script>
    <script type="text/javascript" src="js/toolfuntion.js"></script>
    <script type="text/javascript" src="js/SnakeGame.js"></script>
</body>
</html>
